.swiper-button-prev,
.swiper-button-next {
  background-color: black;
  opacity: 0.8;
  padding: 20px;
  border-radius: 20px;
  color: #fff !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px !important;
}
